$header-background: #f6f2f2;
$nav-background: #313030;
$hover-background: #ff3f40;
$nav-text-color: #e0e0e0;
$square-color: #f5f0dd;
$tittle-color: #4c4c4c;
$par-color: #737373;
$inp-color: #e5e5e5;
$bg-section: #2d2d2d;



$font-size-xs: 12px;
$font-size-x: 11px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size-ms: 15px;
$font-size-md: 16px;
$font-size-mdl: 17px;
$font-size-lg: 18px;
$font-size-lgm: 20px;
$font-size-l: 25px;
$font-size-lgs: 30px;
$font-size-sbg: 40px;
$font-size-bg: 60px;